server:
  port: 8084

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

zuul:
  #Service will be mapped under the /api URI
  prefix: /api
#  Uncomment to disable auto-registering all services read from Eureka
  ignoredServices: '*'
#  routes:
#    test:
#      path: /redirect/**
#      url: http://google.com
#    customer-by-address:
#      path: /customer-by-address/**
#      url: http://localhost:9098
#    customer-by-service:
#      path: /customer-by-service/**
#      serviceId: CUSTOMER-SERVICE
#    static:
#      path: /static/**
  host:
    socket-timeout-millis: 10000
  routes:
    greeting-by-service:
      path: /greeting-by-service/**
#      serviceId: SERVICES-MICROSERVICE
      url: http://localhost:8081

spring:
  application:
    name: zuul-server
